.order-form 
{
    height: 100vh;
    .nav-buttons
    {
        display: flex;
        justify-content: center;
        padding: 5%;

        .nav-button 
        {
            padding-right: 5%;
            padding-left: 5%;
            a { 
                text-decoration: none;
                color: #000000;
                opacity: 0.85;
                &:hover { opacity: 0.7; cursor: pointer; }
            }
        }

    }

    .form-body form
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        div 
        {
            padding: 1.5%;
            padding-left: 0;
            padding-right: 0;
        }

        .text-field { font-size: 1.45vw; }
        .order-button 
        {
            font-size: 1.45vw;
            font-weight: 500;
            color: white;
            background-color: #3F3D56;
            border: 0;
            border-radius: 10px;
            padding: 15%;
            box-shadow: 3px 3px 10px grey;
            outline-width: 0;
            &:hover { opacity: 0.85; }
        }
    }
}