@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.large-text {
  font-size: 4.45vw;
  opacity: 1.0;
}

.medium-text {
  font-size: 2.45vw;
  opacity: 0.85;
}

.small-text {
  font-size: 1.45vw;
  opacity: 0.7;
}

.declaration {
  padding: 1.5%;
  padding-left: 5.5%;
  background-color: #af8c79;
  text-transform: capitalize;
}

.item-price-list {
  padding-left: 11%;
}

.item-price-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
  padding-bottom: 2.5%;
}

.item-price-list li .price {
  padding-right: 1.5%;
}

.item-price-list li .price::after {
  content: '€';
}

.item-price-list li .item span:hover {
  cursor: pointer;
  opacity: 0.7;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-side img {
  width: 75%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.left-side {
  width: 50%;
}

.left-side .item {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
}

.container .more-items, .container .less-items {
  text-align: center;
  display: inline;
  padding: 2.5%;
}

.container .more-items:hover span, .container .less-items:hover span {
  opacity: 0.7;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.arrows .arrow {
  padding-right: 15px;
  padding-left: 15px;
}

.arrows .arrow:hover {
  cursor: pointer;
}

.sum::after {
  content: '€';
}

.landing-page {
  background-color: #af8c7950;
}

.cookies-menu {
  background-color: #af8c79a0;
}

.coffee-menu {
  background-color: #af8c7970;
}

.order-form {
  background-color: #af8c7950;
}

@media screen and (max-width: 1350px) {
  div.order-form {
    height: 80vh;
  }
}

@media screen and (max-width: 650px) {
  div.landing-page div.left-side div.button-container a button {
    font-size: 2.45vw;
  }
  .large-text {
    font-size: 5.45vw;
  }
  .medium-text {
    font-size: 3.45vw;
  }
  .small-text {
    font-size: 2.45vw;
  }
  .button-container a button {
    font-size: 2.45vw;
  }
  .order-form div.form-body form div input.text-field {
    font-size: 2.45vw;
  }
  .order-form div.form-body form div input.order-button {
    font-size: 2.45vw;
  }
}

@media screen and (max-width: 500px) {
  div.left-side ul li div.arrows div i {
    font-size: 3.45vw;
  }
  div.menu div.right-side {
    display: none;
  }
  div.menu div.left-side {
    width: 100%;
    padding-right: 11%;
  }
  div.menu div.left-side .more-items, div.menu div.left-side .less-items {
    padding-right: 5px;
  }
}

@media (max-aspect-ratio: 400 / 500) {
  div.landing-page {
    height: 60vh;
  }
  div.order-form {
    height: 50vh;
  }
}

@media (max-aspect-ratio: 250 / 500) {
  div.landing-page {
    height: 40vh;
  }
  div.order-form {
    height: 40vh;
  }
}
/*# sourceMappingURL=App.css.map */